main {
  background-color: black;
  font-family: 'Share Tech', sans-serif, Arial;
  font-weight: bold;
  color: white;
}

.ver {
  font-weight: bolder;
  font-family: inherit;
  color: white;
}

.credits {
  font-weight: bolder;
  font-family: inherit;
  color: white;
}